{% extends 'base.html' %}
{% block head %}
    <title>Signup Page</title>
{% endblock %}

{% block body %} 
<form>
    <label>Name</label><br>
    <input type="text" placeholder="Enter your full name" name="name" class="form-control"><br>

    <label>Email</label><br>
    <input type="email" placeholder="Enter your correct email" name="email" class="form-control"><br>

    <label>Mobile</label><br>
    <input type="text" placeholder="Enter your mobile" name="mobile" class="form-control"><br>

    <label>Password</label><br>
    <input type="password" placeholder="Enter your password" name="password" class="form-control"><br>

    <label>Re-Password</label><br>
    <input type="password" placeholder="Re enter your password" name="re-password" class="form-control"><br>
    <br>
    <input type="submit">

</form>


{% endblock %}